{% load i18n %}
<nav class="sidebar">
    <a class="sidebar__brand" href="{% url 'backoffice_dashboard' %}">Curio Backoffice</a>
    <ul class="sidebar__nav" role="list">
        <li><a href="{% url 'backoffice_dashboard' %}">{% trans "Dashboard" %}</a></li>
    </ul>
    <section class="sidebar__section">
        <h2 class="sidebar__section-heading">{% trans "Content" %}</h2>
        <ul class="sidebar__nav" role="list">
            <li><a href="{% url 'backoffice_audio_list' %}">{% trans "Audio" %}</a></li>
        </ul>
    </section>
</nav>
