{% load static %}
{% load i18n %}
{% load django_vite %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}Curio Backoffice{% endblock %}
        </title>
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">
        {% vite_hmr_client %}
        {% vite_asset 'assets/js/backoffice.js' %}
    </head>
    <body class="site-frame">
        {% include "_messages.html" %}
        {% include "_header.html" %}
        <main>
            {% block content %}{% endblock content %}
        </main>
        {% include "_footer.html" %}
        {% block javascript %}{% endblock %}
    </body>
</html>
